@model ProjectBurgerMenu.Entities.ContactUs
<section class="site-section bg-light" id="section-contact">
    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center mb-5 site-animate">
                <h2 class="display-4">Bizimle İletişime Geçin</h2>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <p class="lead"> Bize ulaşmak çok kolay! Her türlü soru, öneri ya da geri bildiriminiz için aşağıdaki iletişim kanallarımızdan bize ulaşabilirsiniz.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-7 mb-5 site-animate">
                <form method="post" action="/Default/PartialContact/" >
                    <div class="form-group">
                        <label for="name" class="sr-only">Ad-Soyad</label>
                        <input type="text" class="form-control" name="Name" placeholder="Ad-Soyad">
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <input type="text" class="form-control" name="Email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Konu</label>
                        <input type="text" class="form-control" name="Subject" placeholder="Konu">
                    </div>
                    <div class="form-group">
                        <label for="message" class="sr-only">Mesajınız</label>
                        <textarea name="Content"  cols="30" rows="10" class="form-control" placeholder="Mesajınız"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg" value="Gönder Gelsin!">
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
            @Html.Action("PartialContactAddress", "Default")

            

        </div>
    </div>
</section>
