<section class="site-section" id="section-gallery">
    <div class="container">
        <div class="row site-custom-gutters">

            <div class="col-md-12 text-center mb-5 site-animate">
                <h2 class="display-4">Galerimiz</h2>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <p class="lead"> Lezzetli tariflerle dolu bu galeride, hem gözlerinizi hem de damaklarınızı şenlendirecek yemeklerin özenle hazırlanmış görsellerini bulabilirsiniz. Dünya mutfağından yerel lezzetlere, hafif atıştırmalıklardan doyurucu ana yemeklere kadar geniş bir yelpazede sunulan yemekler, şeflerimizin yaratıcı dokunuşlarıyla hazırlandı. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 site-animate">
                <a href="~/eatwell-master/images/menu_1.jpg" class="site-thumbnail image-popup">
                    <img src="~/eatwell-master/images/menu_1.jpg" alt="Free Template by colorlib.com" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 site-animate">
                <a href="~/eatwell-master/images/menu_2.jpg" class="site-thumbnail image-popup">
                    <img src="~/eatwell-master/images/menu_2.jpg" alt="Free Template by colorlib.com" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 site-animate">
                <a href="~/eatwell-master/images/menu_3.jpg" class="site-thumbnail image-popup">
                    <img src="~/eatwell-master/images/menu_3.jpg" alt="Free Template by colorlib.com" class="img-fluid">
                </a>
            </div>

            <div class="col-md-4 site-animate">
                <a href="~/eatwell-master/images/menu_2.jpg" class="site-thumbnail image-popup">
                    <img src="~/eatwell-master/images/menu_2.jpg" alt="Free Template by colorlib.com" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 site-animate">
                <a href="~/eatwell-master/images/menu_3.jpg" class="site-thumbnail image-popup">
                    <img src="~/eatwell-master/images/menu_3.jpg" alt="Free Template by colorlib.com" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 site-animate">
                <a href="~/eatwell-master/images/menu_1.jpg" class="site-thumbnail image-popup">
                    <img src="~/eatwell-master/images/menu_1.jpg" alt="Free Template by colorlib.com" class="img-fluid">
                </a>
            </div>

        </div>
    </div>
</section>
